@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Noto+Color+Emoji&display=swap");

// Dark Mode
$dark-panel-header-bg: #202c33;
$message-color: #e9edef;

// White Mode
$brand-1: #008069;
$brand-2: #00a884;

$bg-section-2: #f0f2f5;
$panel-header-bg: #f0f2f5;
$panel-footer-bg: #f0f2f5;

$seach-input-bg: #f0f2f5;

$text-color-grey-0: #111b21;
$text-color-grey-1: #667781;
$text-color-grey-1-active: #3b4a54;
$text-color-grey-2: #d1d7db;

$background-white: #fefefe;

$message-bg: #d9fdd3;

$input-color: #ffffff;

// Colors Fixed
$panel-header-icon: #54656f;
$link: #027eb5;
$white-fixed: #ffffff;
$error-1: #f23c3a;
$error-2: #ce3230;

$text-font-stack: "Segoe UI", "Noto Color Emoji", sans-serif;
